.menu {
    background: linear-gradient(177.9deg, rgb(62 61 67) 50%, rgb(26 30 40) 50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    color: white;
    border-radius: 20%;
}

.list {
    border: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: aliceblue;
    border-radius: 10%;
}

.name {
    max-height: 30px;
    padding: 0.25rem 1rem;
    margin-top: 12px;
    color: black;
}

h3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    padding: 3px;
    border-radius: 4%;
    background-color: rgb(249, 115, 22);
}

.d3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    color: white;
}

.inp {
    background: linear-gradient(177.9deg, rgb(62 61 67) 3.6%, rgb(26 30 40) 50.8%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.sh {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    border-radius: 4%;
    background-color: rgb(249, 115, 22);
}